body {
    /* position: relative; */
    background-color: rgb(244, 244, 205);
}

#quiz {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-images {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}


#image-question {
    border: 5px solid rgb(186, 3, 3);
    border-radius: 10%;
    margin: 2em;
    width: 10rem;
}

#answer-buttons {
    visibility: hidden;
}

#answer-buttons button {
    padding: 0.5em 1em;
    background-color: rgb(250, 208, 0);
    border: 3px solid rgb(186, 3, 3);
    border-radius: 5%;
    font-size: larger;
}

#answer-buttons button:hover{
    background-color: rgb(248, 223, 102);
}
#start-button {
    visibility: visible;
    padding: 1em 4em;
    margin: 2em;
    background-color: rgb(250, 208, 0);
    border: 3px solid rgb(186, 3, 3);
    border-radius: 5%;
    font-weight: bold;
    font-size: larger;
}
#start-button:hover {
    background-color: rgb(248, 223, 102);
}

#points-sec {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    margin-top: 6em;
    margin-bottom: 0;
    border: 3px solid rgb(186, 3, 3);
    border-radius: 5%;
    font-weight: bold;
    padding: 0 3em 1em 3em;
}

#points {
    font-size: xx-large;
    padding: 0;
    margin: 0;
}

.level-btn {
    visibility: visible;
    padding: 0.5em 2em;
    margin: 0.5em;
    background-color: rgb(250, 208, 0);
    border: 3px solid rgb(186, 3, 3);
    border-radius: 5%;
    font-weight: bold;
    font-size: larger;
}

#answer-input{
    visibility: hidden;
    background-color: rgb(250, 208, 0);
    border: 3px solid rgb(186, 3, 3);
    border-radius: 5%;
    font-weight: bold;
    font-size: larger;
    width: 10em;
    height: 1.5em;
    text-align: center;
}

#submit-btn {
    visibility: hidden;
    background-color: rgb(176, 246, 177);
    border: 3px solid rgb(2, 80, 10);
    border-radius: 10%;
    font-weight: bold;
    font-size: larger;
    height: 2em;
    text-align: center;
}